* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.split-vertical {
  height: 100%;
}

.split-horizontal {
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #202738;
}

.top-pane {
  padding: 0.5em;
}

.pane {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.gutter {
  background-color: #202738;
}

.iframe {
  border: none;
}

.editor-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #202738;
}

.editor-title {
  display: flex;
  color: rgb(209, 209, 209);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color: #031129;
}

.codemirror-editor {
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
  border: 3px solid #031129;
}
